<div class="row">
    <div class="col-12">
        <div class="container">
            <div class="card-body">
                <h5 class="card-title">{{titulo}}</h5>
                <!-- Se registran los datos del estudiante y se mapean con ngModel al
                     model o sea la clase estudiante.ts -->
                <form>
                    <div class="form-group row">
                        <label for="nombres" class="col-form-label col-sm-2">Nombres</label>
                        <div class="col-sm-6">
                            <!-- Vamos a mapear cada campo a la clase model Estudiante que esta
                                 definida en el ts-->
                            <input type="text" class="form-control" name="nombres" [(ngModel)]="estudiante.nombres">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="apellidos" class="col-form-label col-sm-2">Apellidos</label>
                        <div class="col-sm-6">
                            <!-- Vamos a mapear cada campo a la clase -->
                            <input type="text" class="form-control" name="apellidos" [(ngModel)]="estudiante.apellidos">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-2">Email</label>
                        <div class="col-sm-6">
                            <!-- Vamos a mapear cada campo a la clase -->
                            <input type="text" class="form-control" name="email" [(ngModel)]="estudiante.email">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="nota" class="col-form-label col-sm-2">Nota</label>
                        <div class="col-sm-6">
                            <!-- Vamos a mapear cada campo a la clase -->
                            <input type="text" class="form-control" name="nota" [(ngModel)]="estudiante.nota">
                        </div>
                    </div>

                    <!-- Si no es valido el !estudiante.id haga create else o sea sino significa que es
                         valido vaya al ste template que lo vamos a llamar elseBlock y por eso
                         el template se llama #elseBlock -->
                    <button class="btn btn-success" role="button" (click)="create()"
                        *ngIf="!estudiante.id else elseBlock">Registrar</button>

                    <!-- Para que se muestre el boton registrar o actualizar segun el usuario
                         haya digitado -->
                    <ng-template #elseBlock>
                        <button class="btn btn-success" role="button" (click)="update()">Actualizar</button>
                    </ng-template>

                </form>

            </div>
        </div>
    </div>
</div>